<form novalidate
(submit)="save(f)"
#f="ngForm"
class="card-body">

<input type="text"
  [ngModel]="active?.label"
   name="label"
   required
   class="form-control bg-dark text-white m-1"
   placeholder="Phone model *">


<input type="number"
   [ngModel]="active?.price"
   name="price"
   class="form-control bg-dark text-white m-1"
   placeholder="Price *">

<select [ngModel]="active?.os"
    name="os"
    required
    class="form-control bg-dark text-white m-1">
<option value="null">Select OS *</option>
<option value="Ios">Ios</option>
<option value="Android">Android</option>
<option value="Others">Others</option>
</select>


<div class="btn-group btn-group-sm m-1">
<button class="btn btn-warning"
      type="submit"
      [disabled]="f.invalid">
{{active?.id ? 'SAVE' : 'ADD'}}
</button>
<button
  class="btn btn-light"
  type="button"
  *ngIf="active?.id"
  (click)="reset()">
ADD NEW
</button>

</div>
</form>